---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>About This Project</h1>
  <p>This is my About page. It now uses the shared layout.</p>
  <p>Here is a list of all the national parks I have visited:</p>
  <p>1 - Grand Canyon - 2013</p>
  <p>2 - Yellowstone - 2014</p>
  <p>3 - Grand Teton - 2014</p>
  <p>4 - Hot Springs - 2016 and 2020</p>
  <p>5 - Rocky Mountain - 2016 - CJ</p>
  <p>6 - Yosemite - 2017</p>
  <p>7 - Guadalupe - 2017 and 2022</p>
  <p>8 - Carlsbad Caverns - 2017 and 2022</p>
  <p>9 - Crater Lake - 2018 - CJ</p>
  <p>10 - Smoky Mountains - 2019 - CJ</p>
  <p>11 - Olympic - 2021</p>
  <p>12 - Virgin Islands - 2021 - CJ</p>
  <p>13 - Mount Rainer - 2022</p>
  <p>14 - North Cascades - 2023</p>
  <p>15 - Glacier Bay - 2025</p>
</Layout>
