---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h2>Hello from Astro</h2>
  <p>If you can see this, your layout and routing are working.</p>

  <p>
    Try visiting the <a href="/parks">/parks</a> page (if it exists), or just
    stay here while we build out the site.
  </p>
</Layout>
