---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Jeff's National Parks Photo Gallery</h1>
  <p>
    Welcome! This site will grow into a personal gallery of my U.S. National Parks
    photos.
  </p>

  <ul>
    <li><a href="/parks">View parks</a></li>
    <li><a href="/about">About this project</a></li>
  </ul>
</Layout>
