---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Yosemite">
  <div class="container" style="padding: 3rem 0;">
    <h1 style="font-family: var(--font-heading); margin-top: 0;">
      Yosemite National Park
    </h1>
    <p>
      If you’re seeing this page, go to the directory-based route:
      <a href="/parks/yosemite/">/parks/yosemite/</a>
    </p>
  </div>
</Layout>
